* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.btn-top {
  position: fixed;
  bottom: 11vh;
  left: 87%;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 2px solid;
  border-color: #1b2d6f;
  z-index: 100; }
  .btn-top img {
    width: 30px; }

.btn-top:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px); }

.btn-ig {
  position: fixed;
  bottom: 11vh;
  left: 97%;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid;
  border-color: #1b2d6f;
  z-index: 100;
  display: none; }
  .btn-ig img {
    width: 33px; }

.btn-ig:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateX(-7px); }

header {
  width: 100%;
  background-color: #1b2d6f;
  height: 120px; }
  header .navbar {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100; }
    header .navbar img {
      width: 140px;
      max-width: 200px;
      margin: auto; }
  header .container-fluid {
    background-color: #1b2d6f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    header .container-fluid a {
      color: white;
      margin: auto; }
    header .container-fluid .navbar-toggler {
      border: none;
      margin-right: -55px; }

footer {
  position: sticky;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to left, #1b2d6f, #44d8a4);
  z-index: 97;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer img {
    width: 35px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40%; }

main {
  padding-bottom: 90px; }

.divisor {
  width: 100%;
  height: 20px;
  background: linear-gradient(to left, #1b2d6f, #44d8a4); }

.section1 {
  background-image: url("../Images/img3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-position-y: 40%;
  background-size: cover;
  text-align: center; }
  .section1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.404);
    color: #1b2d6f; }
    .section1 div .first-txt {
      background: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .section1 div h2 {
      margin-top: 3vh;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px; }
      .section1 div h2 span {
        font-weight: bold;
        text-shadow: 1.4px 1.4px #44d8a4; }
    .section1 div p {
      color: #1b2d6f;
      font-size: 14px;
      font-weight: bold;
      margin: auto;
      width: 82%; }
    .section1 div ul {
      margin-top: 30px;
      color: #1b2d6f;
      text-align: center;
      list-style: none; }
      .section1 div ul h3 {
        font-size: 14px;
        font-weight: bold; }
    .section1 div button {
      color: white;
      font-size: 20px;
      margin-top: 30px;
      background: #1b2d6f;
      height: 40px;
      width: 40%;
      max-width: 150px;
      border-style: double;
      border-width: 3.5px;
      border-color: #44d8a4;
      border-radius: 15px;
      margin-bottom: 20px; }
    .section1 div button:hover {
      transform: translateY(-5px);
      transition: 0.8s;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3); }

.title1 {
  color: #1b2d6f;
  text-shadow: 1.4px 1.4px #44d8a4;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center; }

.section2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left; }
    .section2 div img {
      width: 70%;
      max-width: 70%; }
    .section2 div ul li {
      font-size: 14px;
      margin-bottom: 5px; }
    .section2 div ul p {
      font-size: 16px;
      margin-top: 20px;
      font-weight: bold; }

.accordion-body img {
  width: 100%;
  max-width: 450px;
  margin-bottom: 15px; }

@media (min-width: 425px) {
  .section1 h2 span {
    font-size: 30px; } }

@media (min-width: 768px) {
  .container-fluid {
    height: 140px;
    display: flex;
    flex-direction: column; }
    .container-fluid .navbar-nav a {
      margin-left: 25px; }
  MAIN
.section1 h2 span {
    font-size: 36px; }
  MAIN
.section1 ul {
    width: 100%;
    text-align: center; } }

@media (min-width: 1024px) {
  .section1 div {
    text-align: center; }
    .section1 div h2 {
      text-align: left; }
  .title1 {
    margin-bottom: 30px; }
  .section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: auto; }
    .section2 div {
      margin: auto;
      width: 400px;
      height: 550px; }
      .section2 div img {
        margin: 0 auto; }
      .section2 div ul {
        margin: auto; }
        .section2 div ul li {
          font-size: 12px; } }

@media (min-width: 1440px) {
  .section1 {
    margin-top: 2vh; }
  .btn-top {
    display: inline;
    left: 97%;
    bottom: 16vh; }
    .btn-top img {
      width: 33px; }
  .btn-ig {
    display: inline; } }
