* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.btn-top, .btn-wsp {
  position: fixed;
  bottom: 21vh;
  left: 87%;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 2px solid;
  border-color: black;
  z-index: 100; }
  .btn-top img, .btn-wsp img {
    width: 30px; }

.btn-top:hover, .btn-wsp:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px); }

.btn-ig {
  position: fixed;
  bottom: 16vh;
  left: 87%;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid;
  border-radius: 50%;
  border-color: black;
  z-index: 100; }
  .btn-ig img {
    width: 30px; }

.btn-ig:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateX(-7px); }

.btn-wsp {
  bottom: 11vh;
  background-color: white; }

.btn-wsp:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateX(-7px); }

header {
  width: 100%;
  background-color: #1b2d6f;
  height: 120px; }
  header .navbar {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100; }
    header .navbar img {
      width: 140px;
      max-width: 200px;
      margin: auto; }
  header .container-fluid {
    background-color: #1b2d6f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px; }
    header .container-fluid a {
      color: white;
      margin: auto; }
    header .container-fluid .navbar-toggler {
      border: none;
      margin-right: -55px; }

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to left, #1b2d6f, #44d8a4);
  z-index: 97;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer img {
    width: 35px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40%; }

.divisor {
  width: 100%;
  height: 20px;
  background: linear-gradient(to left, #1b2d6f, #44d8a4); }

.section1 {
  background-image: url("../Images/backgr1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-position-y: 40%;
  background-size: 430%;
  background-repeat: no-repeat;
  animation: mov 10s infinite ease-in-out alternate;
  text-align: center; }
  .section1 .bgrnd {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.404); }
  .section1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1b2d6f; }
    .section1 div .first-txt {
      background: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .section1 div h2 {
      margin-top: 3vh;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px; }
      .section1 div h2 span {
        font-weight: bold;
        text-shadow: 1.4px 1.4px rgba(68, 216, 164, 0.74); }
    .section1 div p {
      color: #1b2d6f;
      text-shadow: 0.2px 0.2px black;
      font-size: 14px;
      font-weight: bold;
      margin: auto;
      width: 82%; }
    .section1 div .second-txt {
      margin-top: 30px;
      color: #1b2d6f;
      text-align: center;
      list-style: none;
      text-shadow: 0.2px 0.2px black; }
      .section1 div .second-txt h3 {
        font-size: 14px;
        font-weight: bold; }
      .section1 div .second-txt p {
        font-weight: bold; }

@keyframes mov {
  from {
    background-position: bottom left; }
  to {
    background-position: top right; } }

.btn1 {
  color: #1b2d6f;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  background: transparent;
  height: 40px;
  width: 120px;
  max-width: 160px;
  border: 4px solid #1b2d6f;
  border-radius: 15px;
  margin-bottom: 20px; }

.btn1:hover {
  transform: translateY(-5px);
  transition: 0.8s;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3); }

.title1 {
  color: #1b2d6f;
  text-shadow: 1.4px 1.4px rgba(68, 216, 164, 0.74);
  font-size: 20px;
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
  background-color: #d6d6d6;
  margin: 0; }

.section2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  color: #1b2d6f;
  padding-bottom: 30px; }
  .section2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left; }
    .section2 div p {
      font-size: 18px;
      font-weight: bold; }
    .section2 div img {
      width: 100%;
      border-radius: 20px; }
    .section2 div ul li {
      font-size: 14px;
      margin-bottom: 5px; }

.accordion {
  max-width: 800px;
  margin: auto; }

.accordion-item {
  background: linear-gradient(to left, rgba(27, 45, 111, 0.4), rgba(68, 216, 164, 0.4));
  z-index: 10;
  margin-top: 0; }
  .accordion-item button {
    font-weight: bold;
    color: #1b2d6f;
    background-color: rgba(68, 216, 164, 0.1); }
  .accordion-item button:active, .accordion-item button:focus {
    background-color: rgba(68, 216, 164, 0.1); }

.accordion-body {
  color: #1b2d6f; }
  .accordion-body img {
    width: 100%;
    max-width: 450px;
    max-height: 280px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 15px; }
  .accordion-body li {
    margin: 8px 0;
    font-size: 15px; }
  .accordion-body p {
    font-weight: bold;
    margin-top: 13px;
    font-size: 16px; }

.banner-ig {
  background: linear-gradient(to left, #1b2d6f, #44d8a4);
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .banner-ig p {
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px; }
  .banner-ig img {
    width: 60px; }

.banner-ig:hover {
  color: #1b2d6f; }
  .banner-ig:hover p {
    transform: translateY(-3px);
    transition: 1s; }

.section3 {
  color: #1b2d6f;
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section3 section img {
    display: none; }
  .section3 .nociones-txt div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto; }
    .section3 .nociones-txt div h4 {
      text-decoration: underline;
      margin: 20px 0;
      font-size: 18px; }
    .section3 .nociones-txt div p {
      font-size: 15px; }
  .section3 button {
    font-size: 15px;
    width: 160px; }

.hr1 {
  size: 10px;
  border: 3px solid #44d8a4;
  margin: 0;
  width: 100%; }

.div-bot {
  width: 100%;
  height: 200px;
  background-color: #d6d6d6; }

.section-conocenos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-conocenos h2 {
    margin: 30px 0;
    color: #1b2d6f;
    font-weight: bold;
    text-shadow: 1.4px 1.4px rgba(68, 216, 164, 0.74);
    font-size: 27px; }
  .section-conocenos p {
    width: 85%;
    color: #1b2d6f;
    font-size: 17px;
    margin-top: 10px; }
  .section-conocenos img {
    width: 70%;
    max-height: 240px;
    object-fit: cover; }

.section-conocenos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px; }
  .section-conocenos2 div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px; }
    .section-conocenos2 div p {
      color: #1b2d6f;
      font-size: 15px; }
    .section-conocenos2 div img {
      max-height: 200px;
      max-width: 170px;
      object-fit: cover; }
  .section-conocenos2 hr {
    border-color: #1b2d6f; }

.last-txt {
  padding: 0 15px; }

.last-txt:first-of-type {
  border-right: 2px solid rgba(68, 216, 164, 0.4); }

.main-conocenos {
  padding-bottom: 80px; }

.section-domotica {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-domotica h2 {
    margin: 30px auto;
    color: #1b2d6f;
    font-weight: bold;
    text-shadow: 1.4px 1.4px rgba(68, 216, 164, 0.74);
    font-size: 22px;
    text-align: center; }
  .section-domotica p {
    width: 85%;
    color: #1b2d6f;
    font-size: 15px; }

.main-domotica {
  background-color: #d6d6d6; }

@media (orientation: landscape) {
  .btn-top, .btn-wsp {
    bottom: 32.5vh;
    left: 99%; }
  .btn-ig {
    bottom: 22vh;
    left: 99%; }
  .btn-wsp {
    bottom: 11vh;
    left: 99%; } }

@media (min-width: 425px) {
  .section1 {
    background-size: 370%; }
    .section1 h2 span {
      font-size: 30px; }
  .btn-ig, .btn-top, .btn-wsp {
    left: 91%; } }

@media (min-width: 768px) {
  .container-fluid {
    height: 140px;
    display: flex;
    flex-direction: column; }
    .container-fluid .navbar-nav a {
      margin-left: 25px; }
  .section1 {
    background-size: 220%; }
    .section1 h2 {
      padding-top: 50px; }
      .section1 h2 span {
        font-size: 55px; }
    .section1 ul {
      width: 100%;
      text-align: center; }
  .title1 {
    font-size: 30px;
    padding: 40px 0; }
  .section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    background-color: #d6d6d6; }
    .section2 div {
      margin: auto;
      width: 93%;
      height: 600px; }
      .section2 div img {
        margin: 0 auto;
        border: 2px solid #1b2d6f; }
      .section2 div ul {
        margin: auto; }
        .section2 div ul li {
          font-size: 12px; }
  .accordion {
    display: none; }
  .nociones-txt {
    padding-bottom: 100px; }
  .banner-ig {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .banner-ig p {
      font-size: 23px; }
    .banner-ig img {
      width: 80px; }
  .btn-top, .btn-wsp, .btn-ig {
    left: 95%; } }

@media (min-width: 768px) and (orientation: landscape) {
  .btn-top, .btn-wsp {
    bottom: 23vh; }
  .btn-ig {
    bottom: 17vh; }
  .btn-wsp {
    bottom: 11vh; } }

@media (min-width: 768px) {
  .section-conocenos h2 {
    margin-top: 60px;
    font-size: 30px; }
  .section-conocenos p {
    width: 78%; }
  .section-conocenos img {
    width: 60%;
    object-fit: contain; } }

@media (min-width: 1024px) {
  .section1 {
    background-size: 170%; }
    .section1 div {
      text-align: center; }
      .section1 div h2 {
        text-align: left; }
  .section2 {
    grid-template-columns: repeat(3, 1fr); }
    .section2 div:nth-child(4), .section2 div:nth-child(5) {
      height: 420px; }
  .section3 div {
    padding: 20px 0; }
    .section3 div p {
      width: 75%; }
  .btn-top, .btn-wsp, .btn-ig {
    left: 96%; }
    .btn-top img, .btn-wsp img, .btn-ig img {
      width: 37px; }
  .btn-top, .btn-wsp {
    bottom: 23vh; }
  .btn-ig {
    bottom: 17vh; }
  .btn-wsp {
    bottom: 11vh; } }

@media (min-width: 1440px) {
  .section1 {
    margin-top: 2vh;
    background-size: 135%; }
    .section1 div h2 span {
      font-size: 80px; }
    .section1 div p {
      font-size: 18px; }
  .section2 div {
    height: 650px; }
    .section2 div img {
      max-height: 300px;
      object-fit: cover; }
    .section2 div ul li {
      font-size: 12px; }
  .section2 div:nth-child(4), .section2 div:nth-child(5) {
    height: 500px; }
  .section3 section {
    display: flex;
    flex-direction: row;
    margin: 0 30px; }
    .section3 section .nociones-txt {
      width: 50%; }
      .section3 section .nociones-txt hr {
        width: 80%;
        border-width: 5px;
        margin: auto;
        border-radius: 50%; }
    .section3 section img {
      display: initial; }
  .s3-imgs {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .s3-imgs div {
      margin: auto; }
      .s3-imgs div img {
        height: 360px;
        object-fit: cover;
        border-radius: 20px;
        border: 2px solid #1b2d6f; }
  .btn1 {
    height: 50px;
    width: 150px;
    font-size: 22px; }
  .banner-ig {
    height: 200px; }
    .banner-ig p {
      font-size: 38px; }
    .banner-ig img {
      width: 120px; }
  .btn-top, .btn-wsp, .btn-ig {
    left: 97%; }
    .btn-top img, .btn-wsp img, .btn-ig img {
      width: 45px; }
  .btn-top, .btn-wsp {
    bottom: 24vh; }
  .btn-ig {
    bottom: 17.5vh; }
  .btn-wsp {
    bottom: 11vh; } }
