.section-domotica{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        img{
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 7px 7px 5px gray;
        }
    }
    h2{
        margin: 30px auto;
        color: $color-principal;
        font-weight: bold;
        text-shadow: 1.4px 1.4px $secundario-opacity2;
        font-size: 22px;
        text-align: center;
    }
    p{
        color: $color-principal;
        font-size: 15px;
    }
}

.main-domotica{
    margin-bottom: 30px;
}