.btn-top {
	position: fixed;
	bottom: 21vh;
	left: 87%;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 2px solid;
    border-color: black;
	z-index: 100;
	transform: scale(0);
	cursor: pointer;
    img{
        width: 35px;
    }
}

.btn-top:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.btn-ig{
    position: fixed;
	bottom: 16vh;
	left: 87%;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid;
	border-radius: 50%;
    border-color: black;
	z-index: 100;
    img{
        width: 35px;
    }
}

.btn-ig:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateX(-7px);
}

.btn-wsp{
	position: fixed;
	left: 87%;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid;
	border-radius: 50%;
    border-color: black;
	z-index: 100;
	bottom: 11vh;
	background-color: white;
	img{
        width: 35px;
    }
}
.btn-wsp:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateX(-7px);
}