$color-principal: rgb(27, 45, 111);
$color-secundario:  rgb(68, 216, 164);
$color-terciario: rgb(255, 255, 255);
$principal-opacity: rgba(27, 45, 111, 0.40);
$secundario-opacity: rgba(68, 216, 164, 0.40);
$secundario-opacity2: rgba(68, 216, 164, 0.74);