footer{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: $color-secundario;
    z-index: 97;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 33vw;
    }
}