header{
    width: 100%;
    background-color: $color-principal;
    position: fixed;
    z-index: 100;
    top: 0;
    .navbar{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 120px;
        background-color: $color-principal;
        img{
            width: 140px;
            max-width: 200px;
            margin: auto;
        }
    }
    .container-fluid{
        background-color: $color-principal;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: white;
            margin: auto;
        }
        .navbar-toggler{
            border: none;
            margin-right: -55px;
        }
    }
}
