@media (min-width: 1024px) {
    //MAIN
    .section1{
        div{
            text-align: center;
            h2{
                text-align: left;
            }
    }
    }

    .section2{
        grid-template-columns: repeat(3,1fr);
        div:nth-child(4), div:nth-child(5){
            height: 420px;
        }
    }

    .section3{
        div{
            padding: 20px 0;
            p{
                width: 75%;
            }
        }
    }

    //BUTTONS

    .btn-top, .btn-ig{
        left: 96%;
        img{
            width: 37px;
        }
    }
    .btn-top{
        bottom: 23vh;
    }
    .btn-ig{
        bottom: 17vh;
    }
    .btn-wsp{
        bottom: 11vh;
    }

}