@media (min-width: 1440px) {

    //MAIN
    .section1{
        margin-top: 2vh;
    }

    //FOOTER
    .btn-top{
        display: inline;
        left: 97%;
        bottom: 16vh;
        img{
            width: 33px;
        }
    }
    .btn-ig{
        display: inline;
    }
}