@media (min-width: 768px){
    .container-fluid{
        height: 140px;
        display: flex;
        flex-direction: column;
        .navbar-nav{
            a{
            margin-left: 25px;
            }
        }
    }

    //MAIN
    .section1{
        h2{
            span{
                font-size: 36px;
            }
        }
        ul{
            width: 100%;
            text-align: center;
        }
    }

    .title1{
        margin-bottom: 30px;
    }


    .section2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: auto;
        div{
            margin: auto;
            width: 400px;
            height: 550px;
            img{
                margin: 0 auto;
            }
            ul{
                margin: auto;
                li{
                    font-size: 12px;
                }
            }
        }
    }
    .accordion{
        display: none;
    }
}
