@media (min-width: 1024px) {
    //MAIN
    .section1{
        background-size: 170%;
        div{
            text-align: center;
            h2{
                text-align: left;
            }
    }
    }

    .title1{
        font-size: 35px;
    }

    .section2{
        grid-template-columns: repeat(3,1fr);
        div:nth-child(4), div:nth-child(5){
            height: 420px;
        }
    }

    .section3{
        div{
            padding: 20px 0;
            p{
                width: 75%;
            }
        }
    }

    //BUTTONS

    .btn-top, .btn-ig, .btn-wsp{
        left: 95%;
        img{
            width: 40px;
        }
    }
    
    .btn-top{
        bottom: 19vh;
    }
    .btn-ig{
        bottom: 15vh;
    }
    .btn-wsp{
        bottom: 11vh;
    }
}