@media (min-width: 425px){
    .section1{
        background-size: 370%;
        h2{
        span{
            font-size: 30px;
        }
    }
    }

    .btn-ig, .btn-top{
        left: 91%;
    }
}